<div class="card">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small>Categoria: {{postagem.categoria.name}}</small>
        <br>
        <small>Data de criação: {{postagem.data}}</small>
        <hr>
        <p>{{postagem.conteudo}}</p>
    </div>
</div>